@mixin clearfix {
  &::after {
    // have to specify content property to use, otherwise the pseudo element will not appear on page. Make it an empty string because we don't actually want to SEE the element on page.
    content: "";
    display: table;
    clear: both;
  }

}

// should make mixin for positioning an element in the center (both horizontally & vertically)
//    position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);